:root{
  /* ukuran popup */
  --cardW: min(1000px, 92vw);

  /* posisi area form di atas frame PNG */
  --formLeft: 12%;
  --formTop: 20%;
  --formW: 75%;

  /* ukuran field */
  --fieldH: 64px;
  /*--gap: 12px;*/

  /* tombol */
  --btnH: 50px;
}

/* BACKGROUND DESKTOP */
body{
  margin:0;
  min-height:100vh;
  display:grid;
  place-items:center;
  overflow:hidden;
  font-family: "IBM Plex Mono", monospace;

  background: url("img/bg-dekstop.png")
              center / cover no-repeat;
}

.stage{
  width:100%;
  min-height:100vh;
  display:grid;
  place-items:center;
}

/* Popup */
.popup{
  width:100%;
  display:grid;
  place-items:center;
}

/* Animasi pop-up */
.popup .card{
  width: var(--cardW);
  position:relative;

  transform: translateY(18px) scale(.84); /* sebelumnya 14px & .90 */
  opacity:0;

  transition: transform .65s cubic-bezier(.16, 1, .3, 1), opacity .55s ease;
  will-change: transform, opacity;
}

.popup.show .card{
  transform: translateY(0) scale(1);
  opacity:1;
}

/* Frame PNG */
.card-frame{
  width:100%;
  height:auto;
  display:block;
  user-select:none;
  pointer-events:none;
  filter: drop-shadow(0 18px 45px rgba(0,0,0,.18));
}

/* Form overlay di atas PNG */
.card-content{
  font-family: 'Times New Roman', Times, serif;
  position:absolute;
  left: var(--formLeft);
  top: var(--formTop);
  width: var(--formW);

  display:flex;
  flex-direction:column;
  gap: var(--gap);
}

.card-title{
  font-size: 24px;
  font-weight: 600;
  color: #625f5f
}

.result-section{
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

.result-image{
  width: 150px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0,0,0,.12);
}

.result-text{
  font-size: 15px;
  color: #625f5f;
  align-self: center;
}

.btn-container{
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.btn-card{
  height: 30px;
  padding: 0 16px;
  
  cursor:pointer;

  background: #625f5f;

  font: 600 15px/1 'Times New Roman', Times, serif;
  color: #dfdcdb;
  text-align: left;
}

/* BACKGROUND MOBILE */
@media (max-width: 768px){
  body{
    background: url("img/bg-mobile.png")
                center / cover no-repeat;
  }

  :root{
    /* card lebih kecil biar pas layar */
    --cardW: min(420px, 92vw);

    /* posisi form lebih naik */
    --formLeft: 16%;
    --formTop: 17%;   /* NAIK dari sebelumnya */
    --formW: 70%;

    /* field & spacing lebih kecil */
    --fieldH: 38px;

    /* tombol lebih kecil */
    --btnH: 30px;
  }

  .card-title{
    font-size: 13px;
    font-weight: 600;
    color: #625f5f
  }

  .result-section{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
    align-items: center;
    text-align: justify;
  }

  .result-image{
    width: 90px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0,0,0,.12);
  }

  .result-text{
    font-size: 12px;
    color: #625f5f;
    align-self: center;
  }

  .btn-container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  .btn-card{
    height: 30px;
    padding: 0 10px;
    
    cursor:pointer;

    background: #625f5f;

    font: 600 12px/1 'Times New Roman', Times, serif;
    color: #dfdcdb;
    text-align: left;
  }
}
@media (max-width: 620px){
  

  
}
/* =====================
   HP KECIL (lebih presisi)
===================== */
@media (max-width: 480px){
  
}

@media (max-width: 400px){
  
}
